[Desktop Entry]
Type=Application
Name=Hudut Python Lab Folder
Comment=Hudut Python Lab klasörü
Exec=xdg-open /home/nnhfy/hudut-python-lab
Icon=/usr/local/share/hudut/branding/logo/hudut-logo.png
Terminal=false
Categories=System;
